body{
    text-align: center;
}
header, footer{
    min-height: 150px;
    width: 100%;
    background: #00f;
}
aside{
    display: inline-block;
    width: 39.85%;
    min-height: 150px;
    background: #f00;
}
main{
    display: inline-block;
    width: 59.85%;
    min-height: 150px;
    background: #0f0;
}