*{
    margin: 0;
    padding: 0;
}

.clearFix {
    zoom: 1;
    overflow: auto;
}

.clearFix:after{
    display: block;
    clear: both;
    content: " ";
    height: 0;
}

header{
    position: relative;
    display: block;
    margin: 10px auto;
    border: 1px solid #000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 90%;
    min-height: 120px;
    background: url("it-talents-logo.png") no-repeat center, linear-gradient(90deg, #fff,#ccc, #fff);
    padding: 20px;
}
.contact {
    margin-left: 10px;
    float: left;
    text-align: left;
}

.contact li{
    margin-top: 20px;
}

.map{
    margin-left: 150px;
    float: left;
}

ul {
    list-style-type: none ;
}

nav{
    display: block;
    margin: 0 auto;
}

nav>ul{
    width: 1115px;
    margin: 0 auto;
}

nav li{
    width: 180px;
    height: 25px;
    display: inline-block;
    border: 1px solid #cccccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(#fff,#ccc, #fff);
    text-align: center;
}

nav li:hover {
    background: linear-gradient(#ccc, #fff, #ccc);
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px 50px 0;
}

section{
    position: relative;
    margin: 50px auto;
    width: 80%;
    min-height: 400px;
    border: ridge;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: linear-gradient(90deg, #fff,#ccc, #fff);
    padding: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 90%;
}

footer li{
    display: inline-block;
}
.image{
    background: #ccc;
    width: 25px;
}
footer img {
    width: 20px;
    height: 20px;
}

th{
    border: 1px solid #000;
    background: #a6a6a6;
}
td{
    border: 1px solid #000;
    padding: 5px;
}
.content{
    width: 950px;
    margin: 0 auto;
    padding: 50px;
}
fieldset{
    display: inline-block;
    float: left;
    width: 300px;
    margin: 20px 70px;
    padding: 10px;
}
.labels{
    float: left;
    display: inline-block;
    width: 100px;
}
.input{
    float: left;
    display: inline-block;
    width: 50%;
}
label{
    display: inline-block;
    margin: 10px 10px 10px 5px;
}

input{
    margin: 10px 0;
}
.buttons{
    margin: 0 auto;
    width: 100px;
    background: #cccccc;
}
.color{
    float: left;
    margin: 50px;
    width: 200px;
    height: 200px;
}
.colorGame{
    margin: 100px 50px;
}
.colorButton{
    margin: 10px 10px;
    width: 250px;
    height: 30px;
    border: 3px ridge;
    background: linear-gradient(#fff,#ccc, #fff);
    -webkit-border-radius: 15px 150%;
    -moz-border-radius: 15px 150%;
    border-radius: 15px 150%;
    box-shadow: 5px 5px 5px rgba(255,0,0, 0.55);
}
.colorButton:hover{
    box-shadow: 5px 5px 5px rgba(0, 128, 0, 0.75);
}

.colorGame button:nth-child(2),
.colorGame button:last-child{
    -webkit-border-radius: 150% 15px;
    -moz-border-radius: 150% 15px;
    border-radius: 150% 15px;
}

.answer{
    margin: 10px;
    border: 1px solid #000;
    -webkit-border-radius: 150%;
    -moz-border-radius: 150%;
    border-radius: 150%;
    background: linear-gradient(#fff,#ccc, #fff);
    padding: 10px;
    text-align: center;
}

#right{
    box-shadow: 5px 5px 5px #008000;
}

#wrong{
    box-shadow: 5px 5px 5px #f00;

}

.score{
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 2rem;
}

h1{
    margin: 10px auto;
    width: 800px;
}

p.content{
    text-align: center;
}
h1 ~ p.content{
    text-align: justify;
    text-indent: 2rem;
}
/*
.preview{
    width: 200px;
    height: 600px;
    overflow-y: scroll;
}*/
.photo{
    float: left;
    width: 180px;
    height: 300px;
}

.photo > img{
    width: 160px;
    height: 200px;
}
