form{
    margin: 100px;
    width: 415px
}

form > div{
    padding: 0.3rem;
}

form > span:last-child{
    text-align: center;
}

form > label:first-child {
    width: 130px;
    display: inline-block;
}

.error {
    color: red;
}

.error p {
    padding-left: 154px;
}

.error input, .error select, .error textarea {
    border-color: red;
}

form span{
    display: block;
    text-align: left;
    padding: 0.3rem;
}

form span > label{
    display: inline-block;
    width: 130px;
    padding: 0.3rem;
}

#calc_temp > span{
    display: inline-block;
}

#calc_temp > span > label{
    display: block;
    width: auto;
}

#temp{
    width: 70px;
}

#result{
    margin: 20px 0;
    color: #f00;
}
