.clearFix{
    zoom: 1;
}

.clearFix:after{
    display: block;
    clear: both;
    content: " ";
    height: 0;
}

body{
    background: #191919;
    color: #fff;
    text-align: center;
}

body h1{
    text-transform: uppercase;
    font-weight: bold;
}

main > header{
    padding: 1.5rem;
}

header h1{
    display: inline-block;
    font-size: 2.5rem;
}
.headerMenu{
    float: right;
    display: inline-block;
}
.headerMenu li{
    float: left;
    color: #ccc;
    padding: 1.5rem;
    cursor: pointer;
}

nav{
    position: relative;
    height: 60px;
    background: #F53B4B;
    text-transform: uppercase;
}

nav > ul{
    position: absolute;
    right: 0;
}

nav li {
    display: inline-block;
    padding: 1.5rem;
    cursor: pointer;
}
#slide{
    position: relative;
    width: 100%;
    height: auto;
}

#slide img{
    width: 100%;
    height: auto;
}

#more{
    position: absolute;
    top: 47%;
    left: 25%;
    width: 50%;
    z-index: 2;
}
#more > h1{
    margin-bottom: 20px;
    color: #ccc;
    font-size: 1.5rem;
}

#more > p{
    margin-bottom: 20px;
    color: #ccc;
}

#more li >a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

.previewButton{
    margin: 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 15px 40px;
}
#preview{
    margin: 0 auto;
    width: 815px;
    z-index: 9999;
}

#preview li{
    width: 200px;
    height: 90px;
    display: inline-block;
    list-style-type: none;
    background-size: 100% 100%;
}


li:hover > .photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    zoom: 194.3%;
}

.photo{
    height: 90px;
}

.li1 {
    background: url("Images/Movie_1.jpg") 100% 100%;
}

.li1:hover > .photo {
  background: url("Images/Movie_1.jpg") no-repeat;
}

.li2 {
    background: url("Images/Movie_2.jpg") 100% 100%;
}

.li2:hover > .photo {
  background: url("Images/Movie_2.jpg") no-repeat;
}

.li3 {
    background: url("Images/Movie_3.jpg") 100% 100%;
}

.li3:hover > .photo {
  background: url("Images/Movie_3.jpg") no-repeat;
}

.li4 {
    background: url("Images/Movie_4.jpg") 100% 100%;
}

.li4:hover > .photo {
  background: url("Images/Movie_4.jpg") no-repeat;
}

#select{
    padding: 3rem;
    color: #ccc;
    background: url("Images/radio_background_web.jpg");
}

#select h1{
    padding: 1.5rem;
}

#radio{
    display: inline-block;
    text-align: left;
}

.column{
    display: inline-block;
    padding: 2rem;
}

#radio label {
    color: #ccc;
    font-weight: bold;
}

.genre{
    position: relative;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: transparent !important;
}

.genre:checked:after{
    position: relative;
    display: block;
    content: ' ';
    width: 8px;
    height: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #0f0;
}

.genre+label {
    display: inline-block;
    padding: 0.5rem 0;
}

button{
    display: block;
    margin: 0 auto;
    border: #ccc solid 1px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: transparent;
    padding: 15px 40px;
    color: #ccc;
    text-transform: uppercase;
    cursor: pointer;
}

#movieGallery{
    padding: 3rem;
}

#movieGallery h1{
    margin-bottom: 20px;
}

.galleryPhoto{
    margin: 2rem;
    display: inline-block;
    width: 230px;
    height: 310px;
}

.galleryPhoto p{
    margin: 0 auto;
    width: 215px;
}

#movieGallery button{
    margin-top: 3rem;
}

#comment{
    background: url("Images/comment_background.jpg") 100% 100%;
    padding: 3rem;
}

#comment h1{
    margin-bottom: 20px;
}

.arrow {
    margin: 0 2rem;
    position: relative;
    top: -90px;
    font-size: 2rem;
    font-weight: bold;
}

#comment img{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.name{
    margin: 1rem;
    display: block;
}

#comment p{
    margin: 3rem auto;
    width: 60%;
    text-align: justify;
}

#contact input{
    border: 0;
    background: transparent;
    color: #fff;
}

#contact label:last-child{
    display: block;
}

#contact textarea{
    border: 0;
    background: transparent;
    color: #fff;
}

#map{
}

#map iframe{
    width: 80%;
    height: 800px;
}

/*


#slide img {
animation-name: slideFadeInOut;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 20s;
animation-direction: normal;
}

@keyframes slideFadeInOut {
        0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#slide img:nth-of-type(1) {
    animation-delay: 9s;
}
#slide img:nth-of-type(2) {
    margin-top: -420px;
    margin-left: 20px;
    animation-delay: 6s;
}
#slide img:nth-of-type(3) {
    margin-top: -840px;
    margin-left: 40px;
    animation-delay: 3s;
}
#slide img:nth-of-type(4) {
    margin-top: -1280px;
    margin-left: 60px;
    animation-delay: 0s;
}

*/

