$grey: #ddd;

@mixin border-radius($radius) {

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

main {
  @include border-radius(25px);
  background: $grey;
  margin: 2% auto;
  padding: 30px;
  width: 90%;
}

#welcome {
  display: inline;
  margin-bottom: 0;
  padding: 15px 20px;
  text-align: center;
}

#content {
  display: flex;
  justify-content: space-between;
}

section {
  background: #fcfcfc;
  padding: 10px;
  width: 80%;
}

aside {
  background: #fcfcfc;
  padding: 10px;
  width: 20%;
}

a.btn {
  margin-right: 10px;
}

#article {
  height: 400px;
}

div.mce-edit-area {
  height: 400px;
}

#selectCategory {
  display: flex;
  justify-content: flex-end;
  a {
    margin: 0;
  }
}

#articlePreview {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#articleView #articlePreview {
  height: auto;
}

.errors {
  color: #f00;
}

