$black: #000;
$white: #fff;
$grey1: #dbdbdb;

@mixin borders {
  border: 1px inset $black;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;

}

main{
  header{
    background: $grey1;
    height: 150px;
    position: relative;
    width: 100%;
  }
  nav {
    background: #ccc;
    bottom: 0;
    position: absolute;
    width: 100%;
    li {
      display: inline-block;
      float: right;
      padding: 5px;
    }
  }
  section{
    background: $grey1;
    margin: 20px auto;
    padding: 30px;
    @include border-radius(10px);
    text-align: center;
    width: 90%;
  }
}

table {
  margin: 0 auto;
  thead {
    @include borders;
    background: #5f5f5f;
    th {
      @include borders;
      padding: 5px;
    }
  }
  #tableContent {
    @include borders;
    background: $grey1;
    td {
      width: 100px;
      @include borders;
      padding: 10px;
    }
    tr:nth-child(2n) {
      background: #6d6d6d;
    }
    tr:hover {
      background: $white;
    }
  }
}

.btn {
  @include border-radius(10px);
  cursor: pointer;
  padding: inherit;
}

#addForm {
  display: none;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  label{
    display: inline-block;
    padding: 1em;
    width: 50px;
  }
  input{
    background: $white;
    color: $black;
    display: inline-block;
    height: 20px;
    padding: 5px;
    width: 200px;
  }
  p {
    background: #f00;
    display: none;
    padding: 5px;
    width: 300px;
  }
}